.navbar-filter {
  margin-bottom: 1rem; }
  .navbar-filter .navbar-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .navbar-filter .nav-link {
    cursor: pointer; }
  .navbar-filter .filter-size-params {
    padding: .5rem 1rem;
    width: 14rem; }

.album-photos-wrap {
  margin: 0 -0.125rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.photo {
  margin: .125rem;
  position: relative; }
  .photo.unpublished img {
    -webkit-filter: blur(5px) grayscale(100%);
    filter: blur(5px) grayscale(100%); }

.photo-album {
  position: relative; }
  .photo-album .note {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem; }
  .photo-album > a {
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .photo-album > a:before {
      content: "";
      display: block;
      padding-top: 66.5%; }
    .photo-album > a img {
      display: none; }

#photo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #495057;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #photo_container .photo-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 1.25rem;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), to(transparent));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, transparent 100%);
    overflow: hidden;
    padding: 1rem;
    margin: 0;
    color: #fff; }
  #photo_container #fullscreen_photo {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    cursor: pointer;
    font-size: 1.25rem;
    color: #fff; }
    #photo_container #fullscreen_photo .fa {
      position: relative;
      top: -3px; }
  #photo_container:hover #fullscreen_photo {
    z-index: 2;
    opacity: 1; }

.album-photos-wrap {
  overflow: hidden;
  position: relative; }

.photo_navigation {
  width: 40px;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 100vh;
  cursor: pointer;
  -webkit-transition: left .3s,right .3s;
  transition: left .3s,right .3s;
  z-index: 1;
  color: #fff;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .photo_navigation:hover {
    color: #fff;
    text-decoration: none; }

.prev_item {
  left: -40px; }

.next_item {
  right: -40px; }

#photo_container:hover .prev_item {
  left: 0; }

#photo_container:hover .next_item {
  right: 0;
  left: auto; }

.fullscreen_now #photo_container {
  height: 100vh;
  width: 100vw; }

#photo_container .modal_padding {
  background: #fff;
  padding: 1rem;
  border: 1px solid #495057; }

#photo_container .sess_messages {
  margin-bottom: 0.5rem; }

.show-more .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.show-more .spinner {
  display: none; }

.show-more .show_spinner .show-more-title {
  opacity: 0; }

.show-more .show_spinner .spinner {
  display: block;
  position: absolute; }

/*# sourceMappingURL=styles.css.map */
