<table>
    <tr>
        <td colspan="2">
            {block:header}
            {position:header}
        </td>
    </tr>
    <tr>
        <td width="50%">
            {position:header_left}
        </td>
        <td width="50%">
            {position:header_right}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td width="30%" class="filled">
            {cell:LANG_PAGE_LOGO}
        </td>
        <td>
            {position:header_bottom}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="filled">
            {cell:LANG_..._BREADCRUMBS}
        </td>
        <td width="30%" >
            {position:header_actions}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            {block:maintop_fullwidth}
            {position:maintop_fullwidth_top}
            {position:maintop_fullwidth_center}
            {position:maintop_fullwidth_bottom}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td width="30%">
            {block:left}
            {position:left_top}
            {position:left_center}
            {position:left_bottom}
        </td>
        <td width="40%">
            {position:body_top}
            {block:LANG_PAGE_BODY}
            {position:body_bottom}
        </td>
        <td width="30%">
            {block:right}
            {position:right_top}
            {position:right_center}
            {position:right_bottom}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            {block:mainbottom_fullwidth}
            {position:mainbottom_fullwidth_top}
            {position:mainbottom_fullwidth_center}
            {position:mainbottom_fullwidth_bottom}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            {block:footer}
            {position:footer}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td width="30%" class="filled">
            {cell:LANG_..._COPYRIGHT_AND_TITLE}
        </td>
        <td>
            {position:footer_nav}
        </td>
    </tr>
</table>

