/.idea
wysiwyg/
upload/
update/
templates/default/
system/
static/
license.ru.txt
license.en.txt
index.php
cron.php
credits.txt
bootstrap.php
.htaccess
readme.txt
ISSUE_TEMPLATE.md
README.RU.md
cache/
