@import "../config/import";

.navbar-filter {
  margin-bottom: 1rem;
  .navbar-nav {
    flex-wrap: wrap;
  }
  .nav-link {
    cursor: pointer;
  }
  .filter-size-params {
    padding: .5rem 1rem;
    width: 14rem;
  }
}
.album-photos-wrap {
  margin: 0 -.125rem $spacer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.photo {
  &.unpublished img {
    filter: blur(5px) grayscale(100%);
  }
  margin: .125rem;
  position: relative;
}

.photo-album {
  position: relative;
  .note {
    position: absolute;
    left: $spacer/2;
    top: $spacer/2;
  }
  > a {
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
      content: "";
      display: block;
      padding-top: 66.5%;
    }
    img {
      display: none;
    }
  }
}

#photo_container {
  display: flex;
  position: relative;
  background-color: $gray-700;
  align-items: center;
  justify-content: center;
  .photo-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 20px;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    overflow: hidden;
    padding: $spacer;
    margin: 0;
    color: $white;
  }
  #fullscreen_photo {
    padding: $spacer;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
    transition: opacity 200ms ease;
    cursor: pointer;
    font-size: 20px;
    color:$white;
    .fa {
      position: relative;
      top: -3px;
    }
  }
  &:hover {
    #fullscreen_photo {
      z-index: 2;
      opacity: 1;
    }
  }
}
.album-photos-wrap {
  overflow: hidden;
  position: relative;
}

.photo_navigation {
  width: 40px;
  position: absolute;
  top: 0;
  height: 100%;
  max-height:100vh;
  cursor: pointer;
  transition: left .3s,right .3s;
  z-index: 1;
  color: $white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.prev_item {
  left: -40px;
}
.next_item {
  right: -40px;
}
#photo_container:hover .prev_item {
  left: 0;
}
#photo_container:hover .next_item {
  right: 0;
  left: auto;
}

.fullscreen_now #photo_container {
  height: 100vh;
  width: 100vw;
}
#photo_container {
  .modal_padding {
    background: $white;
    padding:$spacer;
    border: $input-border-width solid $gray-700;
  }
  .sess_messages {
    margin-bottom:$spacer/2;
  }
}

.show-more {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .spinner {
    display: none;
  }
  .show_spinner {
    .show-more-title {
      opacity: 0;
    }
    .spinner {
      display: block;
      position: absolute;
    }
  }
}