@import 'variables';

// userprofile
.user-fw-col {
  width: 100%;
  padding-right: ($grid-gutter-width / 2);
  padding-left:  ($grid-gutter-width / 2);
}
@include media-breakpoint-up(lg) {
  .user-fw-col {
    flex: 0 0 260px;
    max-width: 260px;
  }
}

.fieldset {
  .field  {
    display: flex;
    .title_left {
      margin-right: .5rem;
    }
  }
  + .fieldset {
    margin-top: 1rem;
  }
}