// Стили встроенных элементов
/* Ajax Uploader ============================================================ */
.qq-uploader {
  position: relative;
  width: 100%;
  height: 100%;
}

.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $green;
  line-height: $input-btn-line-height;
  text-align: center;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 14px;
  }
}

.upload .qq-upload-drop-area span {
  font-size: 12px;
}

.qq-upload-drop-area-active {
  background: $blue;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
  margin-right: 10px;
}

.qq-upload-list:empty {
  display: none;
}

.qq-upload-size, .qq-upload-cancel {
  font-size: $font-size-sm;
}

.qq-upload-failed-text {
  display: none;
  color: $red;
}

.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}

/* Footer SQL Debug ======================================================== */
.queries_wrap {
  .query {
    padding:  $input-btn-padding-y $input-btn-padding-x;
    border: 1px solid $input-border-color;
    margin-bottom: $input-btn-padding-y;
    .src {
      font-size: $font-size-sm;
      color: $text-muted;
    }
    .debug_data{

    }
    .query_time {
      font-size: $font-size-sm;
      color: $text-muted;
    }
    .red_query {
      color: $red;
    }
    .green_query {
      color: $green;
    }
  }
}


// nav
.content_datasets {
  margin-bottom: 1rem;
}

// append_html
.append_html {
  margin-bottom:$spacer;
}

// info_bar
.info_bar {
  display: flex;
  @include media-breakpoint-up(md) {
    .bi_share {
      margin-left: auto;
    }
  }
}

// rating_widget
.rating_widget {
  display: flex;
  justify-content: space-between;
  .score {
    padding: $input-padding-y-sm $input-padding-x-sm;
  }
}
